body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  opacity: 1;
  -webkit-animation: appear 1;
  animation-duration: 20s;
}

@keyframes appear {
  0% {
    opacity: 0.5;
    background: #0a1400;
  }
  80% {
    background: yellow;
  }
}